


#logo{
 width: 45px;
}

.nav-link{
	cursor:pointer;
	padding: 5px;
}

.active{
	font-size: 20px;
	-webkit-border-radius: 5px;
border-radius: 5px;
background: #ffffff;
-webkit-box-shadow: 5px 5px 9px #666666, -5px -5px 9px #ffffff;
box-shadow: 5px 5px 9px #666666, -5px -5px 9px #ffffff;
}

body{
/*	padding-top: 4.9rem; for fixed-top navbar*/
	background: url("assets/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#topbar{
	z-index: 6;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    color:darkred;
   
  }
  
  .contain{
  	 background: url("assets/bg.jpg");
  	 background-position: center;
  	 background-size: cover;
  	 background-repeat: no-repeat;
  	 background-attachment: fixed;
  	 position: fixed;
  	 top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
  }
  
  