


#logo{
 width: 45px;
}

.nav-link{
	cursor:pointer;
	padding: 5px;
}

/*.nav-link > span{
	background-color: black;
	border-radius: 2px;
	padding: 5px;
}*/

.navbar-nav .nav-item .nav-link.active {
    background: url('assets/active.gif') !important;  /* Custom background */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black !important;              /* Custom text color */
    border-radius: 5px;  
    /* Rounded corners */
    border: 2px solid white;
    font-weight: bold;
}


/*.nav-item{
	background: #42445A;
	margin: 2px;
	border-radius: 3px;
}*/

body{
/* margin-top: 4.5rem; */
	background: url("assets/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#topbar{
	z-index: 6;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%);
    color:darkred;
   
  }
  
  .contain{
  	 background: url("assets/bg.jpg");
  	 background-position: center;
  	 background-size: cover;
  	 background-repeat: no-repeat;
  	 background-attachment: fixed;
  	 position: fixed;
  	 top: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
  }
.no-ring{
	outline: none;
}
.no-ring:focus {
	outline: none;
}